*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
td{
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  /* padding: 3rem; */
  text-align: center;
  color: black;
  /* width: 30rem; */
}
table{
  background: #fff;
  box-shadow: rgb(255,255,255,0.2);
  border-collapse:collapse ;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
body tr{
  display: grid;
  grid-template-columns: repeat(5,minmax(10rem,1fr));
  align-items: center;
  box-shadow: 0 0.3rem 0 grey;
  margin-bottom: 1rem;
  border-bottom: 4px solid transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
